* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

.contener {
    display: flex;
    gap: 5px;
    /* height:0vh; */
    height: 1000px;
    /* height:100vh; */
}

.cwhite {
    color: white;
}

.border-red {
    border: 2px solid red;
}

.left {
    width: 25vw;
    background-color: black;
    color: white;
    position: sticky;
    top: 1px;
    /* z-index:0; */
    
}

.home ul li {
    width: 22px;
    display: flex;
    gap: 15px;
    margin-top: 20px;
    align-items: center;
}

.hamber{
    /* padding-left:270px; */
    display:relative;
    display:none;
    cursor:pointer;
    font-weight:bolder;
}

.close{
    /* margin-left:65px; */
    display:none;
}

@media  screen and (max-width:400px) {
    .contener{
        width:100%;
    }
    .left{
        position:absolute;
        left:-100%;
        transition:all 1s;
        width:240px;
        z-index:10;
    }
    .right{
        /* border:2px solid red; */
        max-width: 100vw;
        /* z-index:-1; */
    }
    .hamber{
        display:block;
    }
    .close{
        margin-left:150px;
        display:block;
    }
}

.invert {
    filter: invert(1);
}

.font-design {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 16px;

}

.p1 {
    padding: 22px;
}

.m1 {
    margin: 7px;
}

.bg-gray {
    background-color: #121212;
}

.b-radius {
    border-radius: 10px;
}


.home ul :nth-child(2) {
    color: gray;
    filter: invert(0.7);
}

.c-gray {
    color: gray;
}

.library {
    
    display:flex;
    /* justify-content:space-between; */
    flex-wrap:wrap;
    /* gap:100px; */
    height:450px;
    
}

.library img {
    width: 22px;
}

.library li {
    list-style: none;
    display: flex;
    gap: 15px;
}

.lib {
    width: 100%;
    display: flex;
    gap: 15px;
}

.lib h4 {
    display:flex;
    align-items: center;
    margin-top: 4px;
    
}

.faqs{
    /* display:grid;
    grid-template-columns: */
    margin-top:29px;
}

.faqs a{
    text-decoration:none;
    color:#999;
    /* padding-right:15px;
    padding-bottom:10px; */
    /* padding:20px; */
    padding-right:15px;
    margin-bottom:10px;
}

.invert-gray {
    filter: invert(0.7);

}

.lib :nth-child(3) {
    width: 16px;
    margin-left: 140px;
    margin-left: 200px;
    cursor: pointer;
}

.right {
    max-width: 100vw;
    max-height:90vh;
    padding:7px;
    /* height:2000px; */

}

.header {
    position: sticky;
    top: 0px;
    max-height:30px;
    align-items:center;
}

.nav img {
    width: 23px;
}

.cardhead {
    /* height:2000px; */
    margin: 0px auto;
}

.sticky-top {
    position: sticky;
    top: 0px;
}

.sticky-top-large {
    position: sticky;
    top: 165px;
}

.d-flex-s-between {
    display: flex;
    justify-content: space-between;
}

.cards {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.card {
    width: 100px;
}

.card:hover {
    
    .play img {
        opacity: 1;
    }
    
}
.card:hover{
    background-color:#222121;
    
}

.card img {
    width: 100%;
    object-fit: contain;
    padding-bottom: 8px;
    /* position:relative; */
}

.card h4 {
    padding-bottom: 12px;
}
.card p{
    font-size:13px;
}

.play {
    width: 47px;
    position: relative;
}

.play img {
    position: absolute;
    top: 85px;
    right: -85px;
    opacity: 0;
}

.spotify-rs2 {
    max-height:87%;
    overflow-y:scroll;
    
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #333; /* Dark background color */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #666; /* Dark color for the scrollbar */
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #999; /* Lighter color on hover */
  }
  
  /* Optionally, you can style the scrollbar buttons (arrows) */
  ::-webkit-scrollbar-button {
    display: none;
  }
  .log-in{
    padding:15px 30px;
    border-radius:50px;
    font-size:15px;
    font-weight:bold;
    border-style:none;
    margin-left:8px;
    cursor:pointer;
    /* position:absolute; */
  }
  .btns{
    gap:23px;
    display:flex;
    position:relative;
  }
  .log-in:hover{
    font-size:16px;
    padding:16px 31px;
    margin-left:3px;
  }
  .sign-up{
    font-weight:bold;
    font-size:15px;
    border-style:none;
    background-color:#121212;
    cursor:pointer;
    
  }
  .sign-up:hover{
    color:white;
    font-size:16px;
  }
  .playbar{
    width:100%;
    height:30px;
    border:2px solid #333;
    background-color:#333;
    color:black;
    margin-top:10px;
    display:flex;
    justify-content:space-between;
  }

.playbar .songinfo{
    color:white;
    padding:0px 12px;
}
.playbar .songtime{
    color:white;
    padding:0px 12px;
}

  .playbarin #play{
    cursor:pointer;
  }

  .playbarin{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    padding-top:5px;
    
  }
  .playbar{
    border-radius:10px;
    align-items:center;
    height:40px;
    position:relative;
  }
 
  .seekbar{
    height:2px;
    width:100%;
    border:1.5px solid white;
    background-color:white;
    border-radius:20px;
    position:absolute;
    bottom:0px;
    cursor:pointer;
  }

  .circle{
    width:8px;
    height:8px; 
    border:2px solid white;
    background-color:white;
    border-radius:100px;
    position: absolute;
    bottom: -4px; 
    left:-1px;
    transition:0.5s all;
  }

  .songList{
    width:100%;
    height:255px;
    overflow:auto;
    margin-top:20px;
  }
  .songList ul li{
    display:flex;
    flex-wrap:wrap;
    /* max-width:60px; */
    list-style-type: decimal;
    color:white;
    margin-top:7px;
    border:2px solid #333;
    border-radius:5px;
    background-color:#333;
    gap:24px;
    border:2px solid #555;
    padding-left:10px;
    border-radius:10px;
    cursor:pointer;
  }

.songList ul li span{
    display:flex;
    justify-content:center;
    align-items:center;
}

  .songList ul{
    /* max-width:100%;
    flex-wrap:wrap; */
    
    padding:10px 0px;
  }

  .songList ul li img{
    background-color:#333;
    color:white;
  }

